@using Microsoft.Owin.Security

@{	
	var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

	String returnUrl;
	if(!(ViewBag.ReturnUrl as String).IsEmpty())
	{
		returnUrl = ViewBag.ReturnUrl;
	}
	else
	{
		returnUrl = HttpContext.Current.Request.Url.AbsolutePath;
	}
	using ( Html.BeginForm( "ExternalLogin", "User",  new { area="", ReturnUrl = returnUrl }, FormMethod.Post ) )
	{
		@Html.AntiForgeryToken()
		foreach ( AuthenticationDescription p in loginProviders )
		{
			<button type="submit" class="btn btn-block btn-@p.AuthenticationType.ToLower()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Connect With @p.AuthenticationType</button>
		}
	}
}
