@model FFF.InputModels.AddressInput

<div class="form-group">
	@Html.LabelFor( model => model.Nick )
	@Html.TextBoxFor( model => model.Nick, new { @class = "form-control", data_bind="value: nick" } )
	@Html.DescriptionFor( model => model.Nick )
	@Html.ValidationMessageFor( model => model.Nick, null, new { @class = "help-inline" } )
</div>
<div class="form-group">
	@Html.LabelFor( model => model.Line1 )
	@Html.TextBoxFor( model => model.Line1, new { @class = "form-control", data_bind="value: line1" } )
	@Html.ValidationMessageFor( model => model.Line1, null , new { @class = "help-inline" } )
</div>
<div class="form-group">
	@Html.LabelFor( model => model.Line2 )
	@Html.TextBoxFor( model => model.Line2, new { @class = "form-control", data_bind="value: line2" } )
	@Html.ValidationMessageFor( model => model.Line2, null, new { @class = "help-inline" } )
</div>
<div class="form-group">
	@Html.LabelFor( model => model.City )
	@Html.TextBoxFor( model => model.City, new { @class = "form-control", data_bind="value: city" } )
	@Html.ValidationMessageFor( model => model.City, null, new { @class = "help-inline" } )
</div>
<div class="form-group">
	@Html.LabelFor( model => model.StateID )
	@Html.DropDownListFor( model => model.StateID, new SelectList( new System.Collections.Generic.List<FFF.Models.State>() as IEnumerable<FFF.Models.State>, "RID", "Title" ), new { @class= "form-control", data_bind="value: state().rid, options: Page.FFFObject.States.list, optionsText: 'title', optionsValue: 'rid', optionsCaption: 'Select State'" } )
	@Html.ValidationMessageFor( model => model.StateID, null, new { @class = "help-inline" } )
</div>
<div class="form-group">
	@Html.LabelFor( model => model.ZIP )
	@Html.TextBoxFor( model => model.ZIP, new { @class = "form-control", data_bind="value: zip" } )
	@Html.ValidationMessageFor( model => model.ZIP, null, new { @class = "help-inline" } )
</div>