@model FFF.Models.PaymentSystem.PaymentMethod

<table class="table table-condensed">
	<tr>
		<td>@Html.LabelFor( model => model.CardHolderName )</td>
		<td>@Html.DisplayFor( model => model.CardHolderName )</td>
	</tr>
	<tr>
		<td>@Html.LabelFor( model => model.CardNumber )</td>
		<td>@Html.DisplayFor( model => model.CardNumber )</td>
	</tr>
	<tr>
		<td>@Html.LabelFor( model => model.Expiration )</td>
		<td>@Html.DisplayFor( model => model.Expiration.Month ) / @Html.DisplayFor( model => model.Expiration.Year )</td>
	</tr>
	<tr>
		<td>@Html.LabelFor( model => model.CCV )</td>
		<td>@Html.DisplayFor( model => model.CCV )</td>
	</tr>
</table>