<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="application-name" content="Freaky Fast Food" />
@*<meta name="msapplication-TileColor" content="#ffa940" />*@
<meta name="msapplication-square70x70logo" content="@Url.Content("~/Content/Images/tiny.png")" />
<meta name="msapplication-square150x150logo" content="@Url.Content( "~/Content/Images/square.png" )" />
<meta name="msapplication-wide310x150logo" content="@Url.Content( "~/Content/Images/wide.png" )" />
<meta name="msapplication-square310x310logo" content="@Url.Content( "~/Content/Images/large.png" )" />
<meta content="name=My Account;
			  action-uri=./Account;
			  icon-uri=./favicon.ico" name="msapplication-task">
<link rel="shortcut icon" href="favicon.ico" />


<title>@ViewBag.Title - FreakyFastFood</title>

<script type="text/javascript">
	(function ()
	{
		if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/))
		{
			var msViewportStyle = document.createElement("style");
			msViewportStyle.appendChild(document.createTextNode("@@-ms-viewport{width:auto!important}"));
			document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
		}
	})();
</script>

@Styles.Render( "~/Content/css" )
@Scripts.Render( "~/bundles/jquery" )

<script type="text/javascript">
			$(function ()
			{
				$('.container').attr('style', "margin-top:" + $('.navbar').outerHeight(true) + "px;");
			});
			$(function ()
			{
				$(window).resize(function ()
				{
					$('.container').attr('style', "margin-top:" + $('.navbar').outerHeight(true) + "px;");
				});
			});
</script>

