<!DOCTYPE html>
@{
	Layout = null;
}

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="application-name" content="Freaky Fast Food" />
		<meta name="msapplication-square70x70logo" content="@Url.Content("~/Content/Images/tiny.png")" />
		<meta name="msapplication-square150x150logo" content="@Url.Content( "~/Content/Images/square.png" )" />
		<meta name="msapplication-wide310x150logo" content="@Url.Content( "~/Content/Images/wide.png" )" />
		<meta name="msapplication-square310x310logo" content="@Url.Content( "~/Content/Images/large.png" )" />
		<meta content="name=My Account;
				  action-uri=./Account;
				  icon-uri=./favicon.ico" name="msapplication-task">
		<link rel="shortcut icon" href="favicon.ico" />
		<title>@ViewBag.Title - FreakyFastFood</title>
		@Styles.Render( "~/Content/css" )
		@Scripts.Render( "~/bundles/jquery" )
		<script src="~/signalr/hubs"></script>
		<script>
			var account =
			{
				addresses: new Addresses(),
				orders: new Orders(),
				paymentMethods: new PaymentMethods(),
				reviews: new Reviews(),
				settings: new Settings()
			}
			$(function () 
			{
				ko.applyBindings(account);
				$.connection.hub.start(function ()
				{
					account.addresses.init();
					account.orders.init();
					account.paymentMethods.init();
					account.reviews.init();
					account.settings.init();
				});
			});
			function LoadModal(form)
			{
				$.ajax(
				{
					url: form.action,
					type: form.method,
					data: $(form).serialize(),
					context: $(form),
					success: function (data)
					{
						$('#ModalContent').html(data);
						$('#Modal').modal('show');
						$.validator.unobtrusive.parse('#ModalForm');
						ko.applyBindings(account, document.getElementById("ModalContent"));
					}
				});
			}
		</script>
	</head>
<body>
	<div class="container">
		<div class="modal fade" id="Modal">
			<div class="modal-dialog">
				<div class="modal-content" id="ModalContent">

				</div>
			</div>
		</div>
		<h2>
			This is our awesome tester page. No layout. No nothing. WYSIWYG :)
		</h2>

		<p>This is Index.cshtml. We will be running some SignalR Tests.</p>

		<p>First Test: Get some of our Account info via SignalR:</p>

		<div id="Addresses" class="subcontainer">
			<div class="row subheader">
				<div class="col-xs-6 subtitle">
					<h2>
						<span class="glyphicon glyphicon-home">
						</span>
						Addresses
					</h2>
				</div>
				<div class="col-xs-6 createbtn">
					<form action="~/Account/Address/Create" method="get" data-bind="submit: LoadModal">
						<h2>
							<button class="btn btn-success pull-right" type="submit">
								<span class="glyphicon glyphicon-plus-sign">
								</span>
								Add a New Address
							</button>
						</h2>
					</form>
				</div>
			</div>
			<div id="AddressesContent" class="subcontent">
				<div data-bind="if: addresses.empty">
					<div class="well well-lg">
						<p class="text-center"><strong>You have no Addresses.</strong> If you add an Address, you can view, edit, and delete it here.</p>
					</div>
				</div>
				<div data-bind="ifnot: addresses.empty">
					<div class="row" id="address" data-bind="template: { name: addresses.displayMode, foreach: addresses.list }">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/html" id="AddressTemplate" data-bind="with: AddressViewModel">
	<div class="col-lg-3 col-xs-6 col-sm-4 well well-sm">
		<address style="height:90px">
			<strong data-bind="text: nick"></strong><br>
			<span data-bind="text: line1"></span><br>
			<span data-bind="text: line2"></span><br>
			<span data-bind="text: city"></span>, <span data-bind="text: state"></span> <span data-bind="text: zip"></span>
		</address>
		<div class="col-xs-4">
			<form data-bind="submit: editModal" method="get">
				<button class="btn btn-info LoadModal">
					<span class=" glyphicon glyphicon-edit">
					</span>
					Edit
				</button>
			</form>
		</div>
		<div class="col-xs-8">
			<form>
				<button class="btn btn-danger LoadModal" data-bind="attr: { href: deleteURL }">
					<span class="glyphicon glyphicon-remove">
					</span>
					Delete
				</button>
			</form>
		</div>
	</div>
</script>

<script type="text/html" id="AddressEditTemplate">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Editing <span data-bind="text: nick"></span> Address</h3>
	</div>
	<div class="modal-body">
		<span class="help-inline field-validation-error">
		</span>
		<p>This is our awesome edit Modal!!!!</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-floppy-disk">
			</span>
			Save Changes
		</button>
	</div>
</script>

<script id="AddressCreateTemplate">


</script>

<script id="AddressRemoveTemplate">


</script>
