<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>@ViewBag.Title - FreakyFastFood</title>

	<script type="text/javascript">
		(function ()
		{
			if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/))
			{
				var msViewportStyle = document.createElement("style");
				msViewportStyle.appendChild(document.createTextNode("@@-ms-viewport{width:auto!important}"));
				document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
			}
		})();
	</script>

	@Styles.Render( "~/Content/css" )
	@Styles.Render( "~/Content/bootstrap-signin.css" )
	@Scripts.Render( "~/bundles/modernizr" )
	@Scripts.Render( "~/bundles/jquery" )
	@Scripts.Render( "~/Scripts/jquery-ui-1.8.24.js" )
	@Scripts.Render( "~/bundles/jqueryval" )
	@Scripts.Render( "~/bundles/bootstrap" )
	@Scripts.Render( "~/Scripts/bootbox.js" )
	@Scripts.Render( "~/Scripts/StoreFront.js" )
	@RenderSection( "scripts", required: false )
	<script>
		$(function ()
		{
			$(window).resize(function ()
			{
				$('.container').attr('style', "margin-top:" + $('.navbar').outerHeight(true) + "px;");
			});
		});
	</script>
</head>
<body id="body" data-spy="scroll" data-target="#sidenav">
	<!-- Modal Wrapper - This will be dynamically loaded. -->
	<div id="wrap">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@Url.Action("Index", "Store")">
					<span class="hidden-xs">
						<img src="@Url.Content("~/Content/Images/fff-logo-inverted.png")" width="20px" height="20px" style="display:inline" />
						Freaky Fast Food
					</span>
					<span class="visible-xs">
						<img src="@Url.Content( "~/Content/Images/fff-logo-inverted.png" )" width="20px" height="20px" style="display:inline" />
					</span>
				</a>
				<a href="#body" class="navbar-brand">
					<img src="@Url.Content("~/Content/Images/ajax-loader.gif")" class="updating" id="Updating" width="20px" height="20px" style="display:none" />
					<span class="glyphicon glyphicon-saved updated" id=" updated"></span>
					@ViewBag.Title
				</a>
		</div>
	</nav>
		<div class="container">
			@RenderBody()
		</div>
	</div>
	@{ Html.RenderPartial( "_Footer" ); }
</body>
</html>
