@model FFF.Models.UserSystem.Account

<div class="form-group">
	<label class="col-sm-3 control-label">Account ID</label>
	<p class="form-control-static">@Html.DisplayFor( m => m.RID )</p>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label">UserName</label>
	<p class="form-control-static">@Html.DisplayFor( m => m.User.UserName )</p>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label">Name</label>
	<p class="form-control-static">@Html.DisplayFor( m => m.FirstName ) @Html.DisplayFor( m => m.LastName )</p>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label">Gender</label>
	<p class="form-control-static">@Html.DisplayFor( m => m.Gender.Title )</p>
</div>