@model FFF.Models.OrderSystem.Order

@using ( Html.BeginForm("CreateWithSelected", "PaymentMethod", new { role = "form" } ) )
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<div>
		<h3>Select An Address:</h3>
		@foreach ( var address in Model.Account.Addresses )
		{
			<div>
				@Html.RadioButtonFor( Address => address, new { AddressID=address.RID, OrderID=Model.RID } )
				@Html.DisplayFor( Address => address, "Address" )
			</div>
		}
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" value="Select Address" class="btn btn-default" />
				@Html.ActionLink( "Cancel", "Index" )
			</div>
		</div>
		<h3>Or Add A New Address:</h3>
		<div>
			@Html.EditorFor( model => model.DeliveryAddress, "Address" )
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="submit" value="Create New Address" class="btn btn-default" formaction="@Url.Action("CreateWithNewAddress") " />
					@Html.ActionLink( "Cancel", "Index" )
				</div>
			</div>
		</div>
	</div>
}