<!DOCTYPE html>
@{
	if(ViewBag.Refresh == null)
	{
		ViewBag.Refresh = new string[0];
	}
}
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="application-name" content="Freaky Fast Food" />
		@*<meta name="msapplication-TileColor" content="#ffa940" />*@
		<meta name="msapplication-square70x70logo" content="@Url.Content("~/Content/Images/tiny.png")" />
		<meta name="msapplication-square150x150logo" content="@Url.Content( "~/Content/Images/square.png" )" />
		<meta name="msapplication-wide310x150logo" content="@Url.Content( "~/Content/Images/wide.png" )" />
		<meta name="msapplication-square310x310logo" content="@Url.Content( "~/Content/Images/large.png" )" />
		<meta content="name=My Account;
			  action-uri=./Account;
			  icon-uri=./favicon.ico" name="msapplication-task">
		<link rel="shortcut icon" href="favicon.ico" />


		<title>@ViewBag.Title - FreakyFastFood</title>

		<script type="text/javascript">
			(function ()
			{
				if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/))
				{
					var msViewportStyle = document.createElement("style");
					msViewportStyle.appendChild(document.createTextNode("@@-ms-viewport{width:auto!important}"));
					document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
				}
			})();
		</script>

		@Styles.Render("~/Content/css")
		@Scripts.Render( "~/bundles/jquery" )

		@RenderSection( "scripts", required: false )
		<script type="text/javascript">
			$(function ()
			{
				$('.container').attr('style', "margin-top:" + $('.navbar').outerHeight(true) + "px;");
			});
			function ReloadScripts()
			{
				$(function ()
				{
					$(window).resize(function ()
					{
						$('.container').attr('style', "margin-top:" + $('.navbar').outerHeight(true) + "px;");
					});
				});
				$(function ()
				{		
					$('.refresher').submit(function (e)
					{
						e.preventDefault();
						if( $(this).valid())
						{
							$('.updating').show();
							$('.updated').hide();
							$.ajax(
							{
								url: this.action,
								type: this.method,
								data: $(this).serialize(),
								context: $(this),
								success: function( result, textStatus, jqXHR )
								{		
									$('.updating').hide();
									$('.updated').show();
									$($(this).attr("for")).html(result);
									ReloadScripts();
								}					
							});
						}
					});
				});
				$(function ()
				{
					$('#ModalForm').submit(function (e)
					{
						e.preventDefault();
						if ($(this).valid())
						{
							$('#Modal').modal('hide');
							$('body').removeClass('modal-open');
							$('.modal-backdrop').remove();
							$('.updating').show();
							$('.updated').hide();
							$.ajax(
							{
								url: this.action,
								type: this.method,
								data: $(this).serialize(),
								context: $(this),
								success: function( result, textStatus, jqXHR )
								{
									$('.updating').hide();
									$('.updated').show();
									$('#ModalContent').html(result);
									if ($(this).attr("for") == "#ModalContent")
									{
										$('#Modal').modal('show');
										$.validator.unobtrusive.parse('#ModalForm');
									}
									else
									{
										@foreach(var item in ViewBag.Refresh)
										{
											@:$('#@(item)').find('.refresher').submit();
										}
									}
									ReloadScripts();
								},
								error: function (xhr, textStatus, errorThrown)
								{
									$($(this).for).html(data);
									$('#Updating').hide();
									$('.updated').show();
									if (xhr.status == 400)
									{

									}
								}
							});
						}
						else
						{
							return false;
						}
					});
				});
				$(function ()
				{
					$('.LoadModal').off('submit');
					$('.LoadModal').submit(function (e)
					{
						e.preventDefault();
						$('.updating').show();
						$('.updated').hide();
						var parent = $(this).parents('.subcontainer');
						$.ajax(
						{
							url: this.action,
							type: this.method,
							data: $(this).serialize(),
							context: $(this),
							success: function (data)
							{
								$('#ModalContent').html(data);
								$('.updating').hide();
								$('.updated').show();
								$('#Modal').modal('show');
								$.validator.unobtrusive.parse('#ModalForm');
								ReloadScripts();
							}
						});
					});
				});
				$(function ()
				{
					//	$('body').scrollspy('refresh');
					$('#sidenav').affix(
					{
						offset:
						{
							top: 100,
							bottom: function ()
							{
								return (this.bottom = $('.bs-footer').outerHeight(true))
							}
						}
					});
				});
			}
		ReloadScripts();
		$(function ()
		{
			@foreach(var item in ViewBag.Refresh)
			{
				@:$('#@(item)').find('.refresher').submit();
			}					
		});

	</script>


	</head>
	<body id="body" data-spy="scroll" data-target="#sidenav">
		<!-- Modal Wrapper - This will be dynamically loaded. -->
		<div class="modal fade" id="Modal">
			<div class="modal-dialog">
				<div class="modal-content" id="ModalContent">

				</div>
			</div>
		</div>
		<div id="wrap">
			@{ Html.RenderPartial( "_Header" ); }
			<!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->
			<div class="container">
				<div class="jumbotron">
					
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="bs-sidebar hidden-print affix" role="complementary" id="sidenav">
							<h1 class="hidden-xs">
								<img src="@Url.Content("~/Content/Images/ajax-loader.gif")" class="updating" id="Updating" width="36px" height="36px" style="display:none" />
								<span class="glyphicon glyphicon-saved updated" id="Updated"></span>
								@ViewBag.Title
							</h1>
							@{ Html.RenderAction( "Sidebar" ); }
						</div>
					</div>
					<div class="col-md-9">
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
		@{ Html.RenderPartial( "_Footer" ); }
	</body>
</html>
